.blogPostContainer {
    width: 70% !important;
    font-family: 'Dosis', sans-serif;
  }

  .restauImage {
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    margin: 10px 0;
    display: flex; 
    align-items: center;
    justify-content: center;  
}
  
  .restauImage img {
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 6px;
  }

  .w3-tag  {
    background-color: #812020 !important;
    margin-top: 10px;
    color: white;
    margin-left: 20px;
  }

  ul .tag {
    font-size: 18px;
    color: white;
  }

  .allTags {
    margin-left: 20px;
    text-align: center;
  }

  .restauHeader {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 19px;
  
  }

  .rating {
    text-align: center;

  }

  .description {
    font-size: 20px; 
    color: black; 
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }