/* Brand logo */
.brandlogo {
  margin-right: 15px;
  color: #fff;
  font-size: 3em;
  padding: 10px;
  border: 1px solid #7c7c7d;
  background-color: #5e2828;
  border-radius: 20%;
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brand {
  text-decoration: underline #6b6b6b;
  font-size: 2em;
}

.brand:hover {
  text-decoration: 3px underline #6b6b6b;
}

.brand-subtitle {
  color: #7c7c7d;
  margin-left: 10px;
  font-size: 1.4em;
}
