.searchNav {
  background: transparent;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  justify-content: center;
}

.brand {
  padding-right: 10px;
}

:global(.button).search-icon {
  background: #bd1f1f;
  color: white;
  border: none;
}

:global(.icon).search-icon {
  color: white;
}
